<!--==================== ABOUT ====================-->
<section class="section__general" id="about">
  <h2 class="section__general--title">About Me</h2>
  <span class="section__general--subtitle">My introduction</span>
  <!-- ------------- PASAR A BEM ------------- -->
  <div class="about__container container grid">
    <img src="./assets/images/me.jpg" alt="" class="about__img" />
    <div class="about__data">
      <p class="about__description">
        It was it the 3rd year of law school when I realized that I didn't want
        to continue studying something I didn't like. With programming I have
        discovered a world where I feel I belong. One of my dreams is to
        contribute to a project that generates a positive impact towards a
        sustainable world.
      </p>
    </div>
  </div>
</section>
