<!--==================== ABOUT ====================-->
<section class="section__general" id="about">
  <h2 class="section__general--title">About Me</h2>
  <span class="section__general--subtitle">My introduction</span>
  <!-- ------------- PASAR A BEM ------------- -->
  <div class="about__container container grid">
    <img src="./assets/images/linkedin.png" alt="" class="about__img" />
    <div class="about__data">
      <p class="about__description">
        I am a developer with a legal background, ready for my first job
        adventure in the tech sector after successfully completing a frontend
        development bootcamp. My hobbies include enjoying the little things in
        life, animals, sports and keep learning by doing my personal programming
        projects. I am a flexible and adaptative person, I am open to work
        remotely in multicultural environments where I can make use of my
        knowledge of English and Spanish. I am currently eager to learn more
        about programming, with special interest in frontend and ethical
        hacking. My ideal career oportunity would be one where I could work on a
        project that makes a positive impact on the world.
      </p>
    </div>
  </div>
</section>
