<!--==================== ABOUT ====================-->
<section class="about section" id="about">
  <h2 class="section__title">About Me</h2>
  <span class="section__subtitle">My introduction</span>
  <div class="about__container container grid">
    <img src="./assets/images/me.jpg" alt="" class="about__img" />
    <div class="about__data">
      <p class="about__description">
        It was it the 3rd year of law school when I realized that I didn't want
        to continue studying something I didn't like. With programming I have
        discovered a world where I feel I belong. One of my dreams is to
        contribute to a project that generates a positive impact towards a
        sustainable world.
      </p>
      <!-- ESTE DIV LO PUEDO BORRAR MÁS ADELANTE -->
      <div class="about__info">
        <div>
          <span class="about__info-title">5+</span>
          <span class="about__info-name"
            >Complete <br />
            projects</span
          >
        </div>
        <div>
          <span class="about__info-title">5+</span>
          <span class="about__info-name"
            >Complete <br />
            projects</span
          >
        </div>
      </div>
      <!-- HASTA AQUI -->
      <!-- DESCARGAR CV EN PDF? -->
      <div class="about__buttons">
        <a download="" href="#" class="button button--flex">
          Download CV <i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
