<!--==================== CONTACT ME ====================-->
<!-- -------------------- BEM ----------------- -->
<section class="contact section__general" id="contact">
  <h2 class="section__general--title">Contact Me</h2>
  <span class="section__general--subtitle">Get in touch</span>
  <!-- ------------- PASAR A BEM ------------- -->
  <div class="contact__container container grid">
    <!-- <div> -->
    <div class="contact__information">
      <a
        rel="noreferrer"
        href="mailto:mariadanieladarnea@gmail.com"
        target="_blank"
        class="contact__title"
      >
        <i class="uil uil-envelope contact__icon"></i>Email</a
      >
    </div>
    <div class="contact__information">
      <a
        rel="noreferrer"
        href="https://www.linkedin.com/in/mdanielad/"
        target="_blank"
        class="contact__title"
      >
        <i class="uil uil-linkedin contact__icon"></i>LinkedIn</a
      >
    </div>
    <!-- </div> -->
  </div>
</section>
