<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">
  <h2 class="section__title">Contact Me</h2>
  <span class="section__subtitle">Get in touch</span>
  <div class="contact__container container grid">
    <div>
      <div class="contact__information">
        <a
          rel="noreferrer"
          href="mailto:mariadanieladarnea@gmail.com"
          target="_blank"
          class="contact__title"
        >
          <i class="uil uil-envelope contact__icon"></i>Email</a
        >
      </div>
      <div class="contact__information">
        <a
          rel="noreferrer"
          href="https://www.linkedin.com/in/mdanielad/"
          target="_blank"
          class="contact__title"
        >
          <i class="uil uil-linkedin contact__icon"></i>LinkedIn</a
        >
      </div>
    </div>
  </div>
</section>
