<!--==================== FOOTER ====================-->
<!-- ------------- PASAR A BEM ------------- -->
<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <h2 class="footer__title">Let's create your new experience together</h2>
      <!-- ME LO PIENSO  -->
      <h2 class="footer__title">
        Daniela <br /><span class="footer__subtitle">Frontend developer</span>
      </h2>

      <!-- ME LO PIENSO  -->
      <ul class="footer__links">
        <li>
          <a href="#portfolio" class="footer__link">Portfolio</a>
        </li>
        <li>
          <a href="#contact" class="footer__link">Contact Me</a>
        </li>
      </ul>
    </div>
    <p class="footer__copy">&#169; Daniela Darnea. All right reserved</p>
  </div>
</footer>
