<!-- prueba RESTO DE PROYECTOS DE PROGRAMACION WEB -->
<section class="portfolio section__general" id="portfolio">
  <!-- ------------- PASAR A BEM ------------- -->
  <div class="portfolio__container container">
    <div class="grid-projects">
      <!--==================== PORTFOLIO 21 (algoui)====================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio22.png"
          alt="photo19"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Algoui</h3>
          <p class="portfolio__description">
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-html5-alt" title="html5"></i>
          </p>
          <a
            href="https://algoui.com/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
        </div>
      </div>
      <!--==================== PORTFOLIO 21 (advice generator)====================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio21.jpg"
          alt="photo19"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Advice Generator</h3>
          <p class="portfolio__description">
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-react" title="reactjs"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/advice-generator/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/advice-generator"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
       <!--==================== PORTFOLIO 20 (yt videos)====================-->
       <div class="portfolio__content">
        <img
          src="./assets/images/portfolio20.jpg"
          alt="photo19"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Youtube clon</h3>
          <p class="portfolio__description">
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-react" title="reactjs"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/videos/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/videos"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
       <!--==================== PORTFOLIO 19 (pics)====================-->
       <div class="portfolio__content">
        <img
          src="./assets/images/portfolio19.jpg"
          alt="photo19"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Pics</h3>
          <p class="portfolio__description">
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-react" title="reactjs"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/pics/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/pics"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 3 (rick&morty)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio3.jpg"
          alt="photo3"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Rick&Morty search engine</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="fab fa-sass" title="sass"></i>
            <i class="uil uil-react" title="reactjs"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/modulo-3-evaluacion-final-mdanieladla/#/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/modulo-3-evaluacion-final-mdanieladla"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
       <!--==================== PORTFOLIO 17 (pig game)====================-->
       <div class="portfolio__content">
        <img
          src="./assets/images/portfolio17.jpg"
          alt="photo17"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Pig game</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/pig-game/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/pig-game"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--==================== PORTFOLIO 16 (guess my number)====================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio16.jpg"
          alt="photo16"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Guess my number</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/guess-my-number/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/guess-my-number"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
       <!--==================== PORTFOLIO 15 (memory game)====================-->
       <div class="portfolio__content">
        <img
          src="./assets/images/portfolio15.jpg"
          alt="photo15"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Memory game</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/memory-game/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/memory-game"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--==================== PORTFOLIO 14 (tip calculator)====================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio14.jpg"
          alt="photo14"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Tip Calculator</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/tip-calculator/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/tip-calculator"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 13 (time-tracking)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio13.jpg"
          alt="photo13"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Time tracking</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/time-tracking/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/time-tracking"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 12 (form-valid)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio12.jpg"
          alt="photo12"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Form validation</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/bjform/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/bjform"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 11 (preview-comp)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio11.jpg"
          alt="photo11"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Preview component</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/preview-component/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/preview-component"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
       <!--================== PORTFOLIO 10 (meditation)==================-->
      <!-- hacer responsive! -->
       <!-- <div class="portfolio__content">
        <img
          src="./assets/images/portfolio10.jpg"
          alt="photo10"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Meditation app</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/meditation-app/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/meditation-app"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div> -->
      <!--================== PORTFOLIO 8 (interior-consult)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio8.jpg"
          alt="photo8"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Interior consultant</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/interior-consultant/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/interior-consultant"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
       <!--================== PORTFOLIO 4 (faq-accordion)==================-->
       <div class="portfolio__content">
        <img
          src="./assets/images/portfolio4.jpg"
          alt="photo4"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Faq accordion</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
            <i class="uil uil-java-script" title="javascript"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/faq-accordion/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/faq-accordion"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 9 (gallery)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio9.jpg"
          alt="photo9"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Gallery</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/gallery/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/gallery"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 7 (recipe)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio7.jpg"
          alt="photo7"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Recipe page</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/recipe-page/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/recipe-page"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 6 (my-team-page)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio6.jpg"
          alt="photo6"
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">My team page</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/myteampage/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/myteampage"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
