<!--==================== HEADER ====================-->
<!-- ----------------------- CAMBIO A BEM Y SASS ----------------------- -->
<header class="header" id="header">
  <nav class="nav__container container">
    <a href="#" class="nav__logo">Daniela</a>
    <!-- div contenedor de los iconos del menú desplegable -->
    <div class="nav__menu js-nav-menu">
      <!-- lista con los iconos del menú -->
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link"
            ><i class="uil uil-estate nav__icon"></i>Home</a
          >
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link"
            ><i class="uil uil-user nav__icon"></i>About</a
          >
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link"
            ><i class="uil uil-file-alt nav__icon"></i>Skills</a
          >
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link"
            ><i class="uil uil-scenery nav__icon"></i>Portfolio</a
          >
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link"
            ><i class="uil uil-message nav__icon"></i>Contact me</a
          >
        </li>
      </ul>
      <!-- x para cerrar el menú -->
      <i class="uil uil-times nav__close nav__icon js-nav-close"></i>
    </div>
    <div class="nav__btns">
      <!-- Botón para cambiar a modo nocturno/día -->
      <i class="uil uil-moon change-theme" id="theme-button"></i>
      <div class="nav__toggle js-nav-toggle">
        <i class="uil uil-apps nav__icon"></i>
      </div>
    </div>
  </nav>
</header>
