<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>
  <div class="portolio__container container">
    <div>
      <!--==================== PORTFOLIO 1====================-->
      <div class="portfolio__content grid">
        <img
          src="./assets/images/portfolio1.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Landing page</h3>
          <p class="portfolio__description">
            Website created acording to the requested design
          </p>
          <!-- TECNOLOGIA USADA?? -->
          <a
            href="https://mdanieladla.github.io/modulo-1-evaluacion-final-mdanieladla/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <!-- repo¿? -->
        </div>
      </div>
      <!--==================== PORTFOLIO 2====================-->
      <div class="portfolio__content grid">
        <img
          src="./assets/images/portfolio2.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Series finder</h3>
          <p class="portfolio__description">
            Interactive website where the user can search fot TV series and save
            them to favorites.
          </p>
          <a
            href="https://mdanieladla.github.io/modulo-2-evaluacion-final-mdanieladla/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <!-- repo¿? -->
        </div>
      </div>
      <!--==================== PORTFOLIO 3====================-->
      <div class="portfolio__content grid">
        <img
          src="./assets/images/portfolio3.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Rick and Morty search engine</h3>
          <p class="portfolio__description">SPA with React.</p>
          <a
            href="https://mdanieladla.github.io/modulo-3-evaluacion-final-mdanieladla/#/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <!-- repo¿? -->
        </div>
      </div>
    </div>
  </div>
</section>
