<!--==================== SKILLS ====================-->
<section class="skills section" id="skills">
  <h2 class="section__title">Skills</h2>
  <span class="section__subtitle">My technical level</span>
  <div class="skills__container container grid">
    <div>
      <!--==================== SKILLS 1====================-->
      <div class="skills__content skills__open js-skills">
        <div class="skills__header js-skills-header">
          <i class="uil uil-brackets-curly skills__icon"></i>
          <!-- ESTE DIV SE PUEDE BORRAR???? -->
          <div>
            <h1 class="skills__title">Frontend developer</h1>
            <span class="skills__subtitle">More than 3 months</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">HTML</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__html"></span>
            </div>
          </div>
          <!-- BORRAR? -->
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">CSS</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__css"></span>
            </div>
          </div>
          <!-- BORRAR? -->
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">JS</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__js"></span>
            </div>
          </div>
          <!-- BORRARR?? -->
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">REACT</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__react"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- ==================== SKILLS 2==================== BORRAR??? -->
      <div class="skills__content skills__close js-skills">
        <div class="skills__header js-skills-header">
          <i class="uil uil-server-network skills__icon"></i>
          <!-- ESTE DIV SE PUEDE BORRAR???? -->
          <div>
            <h1 class="skills__title">Backend developer</h1>
            <span class="skills__subtitle">More than 3 months</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">NODE JS</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__nodejs"></span>
            </div>
          </div>
          <!-- BORRAR? -->
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">EXPRESS</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__express"></span>
            </div>
          </div>
          <!-- BORRAR? -->
          <div class="skills__data">
            <div class="skills__title">
              <h3 class="skills__name">SQL</h3>
              <!-- ESTO CREO QUE LO BORRO -->
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__sql"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
