<!--==================== SKILLS ====================-->
<section class="skills section__general" id="skills">
  <h2 class="section__general--title">Skills</h2>
  <span class="section__general--subtitle">My technical/soft skills</span>
  <div class="skills__container container grid">
    <!--==================== SKILLS 1====================-->
    <div class="skills__content skills__open js-skills">
      <div class="skills__content--header js-skills-header">
        <i class="uil uil-brackets-curly skillsIcon"></i>
        <h1 class="skillsTitle">Frontend developer</h1>
        <i class="uil uil-angle-down skillsArrow"></i>
      </div>
      <div class="skills__list grid-skills">
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="uil uil-html5" title="html5"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-css3-alt" title="css3"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-sass" title="sass"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-npm" title="Npm"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-js-square" title="javascript"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name"><i class="uil uil-react"></i></h3>
        </div>
      </div>
    </div>
    <!-- ==================== SKILLS 2==================== -->
    <div class="skills__content skills__close js-skills">
      <div class="skills__content--header js-skills-header">
        <i class="uil uil-server-network skillsIcon"></i>
        <h1 class="skillsTitle">Backend developer</h1>
        <i class="uil uil-angle-down skillsArrow"></i>
      </div>
      <div class="skills__list grid-skills">
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-node" title="Node Js"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name"><i class="uil uil-database"></i></h3>
        </div>
      </div>
    </div>
    <!--==================== SKILLS 3====================-->
    <div class="skills__content skills__close js-skills">
      <div class="skills__content--header js-skills-header">
        <i class="uil uil-sitemap skillsIcon"></i>
        <h1 class="skillsTitle">Other tools</h1>
        <i class="uil uil-angle-down skillsArrow"></i>
      </div>
      <div class="skills__list grid-skills">
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-git-alt" title="Git"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-github" title="Github"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fab fa-slack" title="Slack"></i>
          </h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--name">
            <i class="fas fa-terminal" title="Terminal"></i>
          </h3>
        </div>
      </div>
    </div>
    <!--==================== SKILLS 4====================-->
    <div class="skills__content skills__close js-skills">
      <div class="skills__content--header js-skills-header">
        <i class="uil uil-smile skillsIcon"></i>
        <h1 class="skillsTitle">Soft Skills</h1>
        <i class="uil uil-angle-down skillsArrow"></i>
      </div>
      <div class="skills__list grid-skills">
        <div class="skills__data">
          <h3 class="skills__data--nameS">Hard-working</h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--nameS">Resilient</h3>
        </div>
        <div class="skills__data">
          <h3 class="skills__data--nameS">Detail-oriented</h3>
        </div>
        <div class="skills__data">
          <h4 class="skills__data--nameS">Responsible</h4>
        </div>
        <div class="skills__data">
          <h4 class="skills__data--nameS">Curious</h4>
        </div>
      </div>
    </div>
  </div>
</section>
