<!--PRUEBA PROYECTOS DE MAQUETACIÓN-->
<section class="portfolio section__general" id="portfolio">
  <h3 class="section__general--title">Web design projects</h3>
  <span class="section__general--subtitle">Projects with HTML and CSS</span>
  <!-- ------------- PASAR A BEM ------------- -->
  <div class="portfolio__container container">
    <div class="grid-projects">
      <!--================== PORTFOLIO 1 (landing page)=================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio1.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Landing page</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/modulo-1-evaluacion-final-mdanieladla/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/modulo-1-evaluacion-final-mdanieladla"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 1 grupo (girlz)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio1G.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Group project</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="fab fa-sass" title="sass"></i>
          </p>
          <a
            href="http://beta.adalab.es/project-promo-n-module-1-team-7/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/project-promo-n-module-1-team-7"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 5 (404)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio5.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">404 not found</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/404notfound/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/404notfound"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 6 (my-team-page)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio6.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">My team page</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/myteampage/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/myteampage"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 7 (recipe)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio7.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Recipe page</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/recipe-page/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/recipe-page"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--================== PORTFOLIO 9 (gallery)==================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio9.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Gallery</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/gallery/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/gallery"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
      <!--==================== PORTFOLIO 18 (huddle landing)====================-->
      <div class="portfolio__content">
        <img
          src="./assets/images/portfolio18.jpg"
          alt=""
          class="portfolio__img"
        />
        <div class="portfolio__data">
          <h3 class="portfolio__title">Landing page</h3>
          <p class="portfolio__description">
            <i class="uil uil-html5-alt" title="html5"></i>
            <i class="uil uil-css3-simple" title="css3"></i>
          </p>
          <a
            href="https://mdanieladla.github.io/huddle-landing-page/"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            href="https://github.com/mdanieladla/huddle-landing-page"
            class="button button--flex button--small portfolio__button"
            target="_blank"
          >
            Repo
            <i class="uil uil-code-branch button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
