html{
    scroll-behavior: smooth;
  }
  
  body{
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
  }
  
  h1,h2,h3,h4{
    color: $title-color;
    font-weight: $font-semi-bold;
  }
  
  ul {
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: $title-color;
    margin-right: $mb-1;
    cursor: pointer;
}

.change-theme:hover{
    color: $first-color;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section__general{
    padding: 2rem 0 4rem;
    &--title{
        font-size: $h1-font-size;
        text-align: center;
    }
    &--subtitle{
        display: block;
        font-size: $small-font-size;
        margin-bottom: $mb-3;
        text-align: center;
    }
}

/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $body-color;
}

/*==================== MEDIA QUERIES COMUNES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container{
        margin-left: $mb-1;
        margin-right: $mb-1;
    }

    .nav__list{
        column-gap: 0;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .about__container, .skills__container, .portfolio__content, .contact__container, .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section__general--subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header, .main, .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(($header-height) + 1.5rem);
        column-gap: 1.5rem;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .change-theme{
        margin: 0;
    }

    .about__container{
        column-gap: 5rem;
    }

   .portfolio__content{
       align-items: center;
   }

   .footer__container{
       grid-template-columns: repeat(3, 1fr);
   }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header, .main, .footer__container{
        padding: 0;
    }

    .portfolio__content{
        column-gap: 5rem;
    }
}