html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0 0 3rem 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
  }
  
  h1,h2,h3,h4{
    color: $title-color;
    font-weight: $font-semi-bold;
  }
  
  ul {
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: $title-color;
    margin-right: $mb-1;
    cursor: pointer;
}

.change-theme:hover{
    color: $first-color;
}
/*==================== BASE ====================*/


/*==================== REUSABLE CSS CLASSES ====================*/
// --------------------- BEM --------------- 
.section__general{
    padding: 2rem 0 4rem;
    &--title{
        font-size: $h1-font-size;
        text-align: center;
    }
    &--subtitle{
        display: block;
        font-size: $small-font-size;
        margin-bottom: $mb-3;
        text-align: center;
    }
}

//BORRAR AL FINAL ------ ORIGINAL SIN BEM ------
// .section__title{
//     font-size: $h1-font-size;
// }
// .section__subtitle{
//     display: block;
//     font-size: $small-font-size;
//     margin-bottom: $mb-3;
// }
//  .section__subtitle {
//     text-align: center;
// } ---------------------------------------------

/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $body-color;
}

/*==================== NAV ====================*/ /*CAMBIAR AL SCSS DE HEADER*/
.nav{
    max-width: 968px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color: $title-color;
    font-weight: $font-medium;
}

.nav__logo:hover{
    color: $first-color;
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: $first-color;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: $body-color;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $small-font-size;
    color: $title-color;
    font-weight: $font-medium;
}

.nav__link:hover{
    color: $first-color;
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: $first-color;
}

.nav__close:hover{
    color: $first-color-alt;
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */
.active-link{
    color: $first-color;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0, 0.15);
}

/*========== SCROLL UP ==========*/
.scrollUp{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: $first-color;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: $z-tooltip;
    transition: .4s;
}

.scrollUp:hover{
    background-color: $first-color-alt;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container{
        margin-left: $mb-1;
        margin-right: $mb-1;
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__blob{
        width: 180px;
    }

    .skills_title{
        font-size: $normal-font-size;
    }

    .project__img{
        width: 200px;
    }

}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        grid-column: initial;
    }

    .home__img{
        order: 1;
        justify-self: center;
    }

    .about__container, .skills__container, .portfolio__content, .contact__container, .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header, .main, .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(($header-height) + 1.5rem);
        column-gap: 1.5rem;
    }

    .nav__icon, .nav__close, .nav__toggle{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }

    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob{
        width: 270px;
    }

    .home__scroll{
        display: block;
    }

    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }

    .about__img{ 
        width: 350px;
    }

    .about__description{
        text-align: initial;
    }

   .project__img{
       width: 320px;
   }

   .portfolio__content{
       align-items: center;
   }

   .footer__container{
       grid-template-columns: repeat(3, 1fr);
   }

   .footer__bg{
       padding: 3rem 0 3.5rem;
   }

   .footer__links{
       flex-direction: row;
       column-gap: 2rem;
   }

   .footer__copy{
    margin-top: 4.5rem;
   }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header, .main, .footer__container{
        padding: 0;
    }

    .home__blob{
        width: 320px;
    }

    .home__social{
        transform: translateX(-6rem);
    }

    .portfolio__content{
        column-gap: 5rem;
    }

    
}