/*==================== FOOTER ====================*/
.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: $first-color-second;
    padding: 2rem 0 3rem;
    @media screen and (min-width: 768px) {
        padding: 3rem 0 3.5rem;
    }
}

.footer__title{
    font-size: $h1-font-size;
    margin-bottom: $mb-0-25;
}

.footer__subtitle{
    font-size: $small-font-size;
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @media screen and (min-width: 768px) {
        flex-direction: row;
       column-gap: 2rem;
    }
}

.footer__link:hover{
    color: $first-color-lighter;
}

.footer__copy{
    font-size: $smaller-font-size;
    text-align: center;
    color: $text-color-light;
    margin-top: $mb-3;
    @media screen and (min-width: 768px) {
        margin-top: 4.5rem;
    }
}

.footer__title, .footer__subtitle, .footer__link {
    color: #fff;
}