/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color: $title-color;
    font-weight: $font-medium;
}

.nav__logo:hover{
    color: $first-color;
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__toggle:hover{
    color: $first-color;
}

.nav__menu{
    @media screen and (max-width: 350px){
        padding: 2rem .25rem 4rem;
    }
    @media screen and (max-width: 767px){
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: $body-color;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $small-font-size;
    color: $title-color;
    font-weight: $font-medium;
}

.nav__link:hover{
    color: $first-color;
}

.nav__icon{
    font-size: 1.2rem;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: $first-color;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__close:hover{
    color: $first-color-alt;
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */
.active-link{
    color: $first-color;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0, 0.15);
}

/*========== SCROLL UP ==========*/
.scrollUp{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: $first-color;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: $z-tooltip;
    transition: .4s;
}

.scrollUp:hover{
    background-color: $first-color-alt;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}
