/*==================== HOME ====================*/
.home__container{
    gap: 1rem;
    @media screen and (min-width: 768px) {
        row-gap: 5rem;
    }
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
    @media screen and (max-width: 350px) {
        grid-template-columns: .25fr 3fr;
    }
    @media screen and (min-width: 568px){
        grid-template-columns: max-content 1fr 1fr;
    }
    @media screen and (min-width: 768px){
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    &--icon{
    font-size: 1.25rem;
    color: $first-color;
    }
    @media screen and (min-width: 1024px) {
        transform: translateX(-6rem);
    }
}

.home__social-icon:hover{
    color: $first-color-alt;
}

@media screen and (min-width: 568px) {
   .home__img{
    order: 1;
    justify-self: center;
} 
}

.home__blob{
    width: 200px;
    fill: $first-color;
    @media screen and (max-width: 350px) {
        width: 180px;
    }
    @media screen and (min-width: 768px) {
        width: 270px;
    }
    @media screen and (min-width: 1024px) {
        width: 320px;
    }
}

.home__blob-img{
    width: 170px;
}

.home__data{
    grid-column: 1/3;
    &--title{
        font-size: $big-font-size;
    }
    &--subtitle{
        font-size: $h3-font-size;
    color: $text-color;
    font-weight: $font-medium;
    margin-bottom: $mb-0-75;
    }
    &--description{
        margin-bottom: $mb-2;
    }
    @media screen and (min-width: 568px) {
        grid-column: initial;
    }
}

.home__scroll{
    display: none;
    &--button{
    color: $first-color;
    transition: .3s;
    }
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 3rem;
    }
}

.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: $small-font-size;
    color: $title-color;
    font-weight: $font-medium;
    margin-right: $mb-0-25;
}

.home__scroll-arrow{
    font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: $first-color;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: $font-medium;
}

.button:hover{
    background-color: $first-color-alt;
}

.button__icon{
    font-size: 1.25rem;
    margin-left: $mb-0-5;
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}