/*==================== PORTFOLIO ====================*/
.portfolio__container{
    overflow: initial;
}

.portfolio__container{
    padding: 0 1.5rem;
}

.portfolio__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
    margin-top: .5rem;
}

.portfolio__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-0-5;
}

.portfolio__description{
    margin-bottom: $mb-0-75;
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}