/*==================== PORTFOLIO ====================*/
.portfolio__container{
    overflow: initial;
    padding: 0 1.5rem;
   
}


.grid-projects{
 @media all and (min-width:1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }
}

.portfolio__img{
    @media screen and (max-width: 350px) {
            width: 200px;
    }
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
    margin-top: .5rem;
    @media screen and (min-width:768px) {
        width: 320px;
    }
}

.portfolio__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-0-5;
}

.portfolio__description{
    margin-bottom: $mb-0-75;
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}