/*==================== SKILLS ====================*/
.skills__container{
    row-gap: 0;
}

.skills__content{
    &--header{
    display: flex;
    align-items: center;
    margin-bottom: $mb-2-5;
    cursor: pointer;  
    }
}

.skillsIcon{
    margin-right: $mb-0-75;
}

.skillsTitle{
    @media screen and (max-width:350px) {
        font-size: $normal-font-size;
    }
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-0-5;
    
}

.skillsArrow{
    margin-left: auto;
    transition: .4s;
}

.skillsIcon, .skillsArrow{
    font-size: 2rem;
    color: $first-color;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__data{
    &--name{
    font-size: $normal-font-size;
    font-weight: $font-medium;
    font-size: 2rem;
    }
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: $mb-2-5;
}

.skills__open .skillsArrow{
    transform: rotate(-180deg);
}

.grid-skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
}
